*,
body {
  padding: 0;
  font-family: "Century";
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: inherit;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #060606;
  font-family: "Century";
  color: white;
}

.wrapper {
  min-width: 100%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

h2 {
  font-size: 105px;
  margin-bottom: 55px;
  color: #ac904e;
}

h2 span {
  color: #fff;
}

.header {
  padding: 30px 0px;
  position: relative;
  z-index: 10;
}

.header .menu .menu__list {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 60px;
  align-items: center;
}

.header .menu .menu__link {
  padding: 15px 42px;
  color: #fff;
  background-color: #ac904e;
  border-radius: 12px;
  font-size: 37px;
  font-weight: 400;
}

.page {
  width: 100%;
}

.page__background-1 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}

.page__background-1 img {
  width: 100%;
}

.bg-application {
  position: absolute;
  top: -1050px;
  left: -50px;
}

.bg-contacts {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}

.bg-contacts img {
  width: 100%;
}

.page__background-sell-left {
  position: relative;
  z-index: 10;
}

.main-block .main-block__container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-block .main-block__body {
  margin: 120px 0px 120px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.main-block .main-block__body .main-block__img img {
  height: 650px;
}

.main-block .main-block__body .main-block__content {
  margin-top: -200px;
}

.main-block .main-block__body .main-block__content .main-block__ring-1 {
  position: relative;
  top: 130px;
  right: 135px;
}

.main-block .main-block__body .main-block__content .main-block__ring-2 {
  position: relative;
  bottom: 30px;
  left: 500px;
}

.main-block .main-block__body .main-block__content .main-block__title {
  font-size: 90px;
  color: #ac904e;
}

.main-block .main-block__body .main-block__content .main-block__text {
  margin-top: 30px;
  font-size: 57px;
}

.about {
  position: relative;
  z-index: 15;
  margin-top: 100px;
  margin-bottom: 400px;
}

.about .about__container {
  padding: 0px 50px;
  margin: 0 auto;
}

.about .about__body {
  display: flex;
  justify-content: space-between;
}

.about .about__body .about__content {
  max-width: 48%;
}

.about .about__body .about__content .about__text {
  font-size: 56px;
  line-height: 90%;
}

.about .about__body .about__img {
  margin-top: 140px;
}

.costs {
  margin-bottom: 700px;
  position: relative;
  z-index: 10;
}

.costs .cost__monets {
  position: absolute;
  bottom: -250px;
  left: 0;
}

.costs .costs__container {
  padding: 0px 50px;
  margin: 0 auto;
}

.costs .costs__body {
  display: flex;
  justify-content: space-between;
}

.costs .costs__body .costs__content .costs__text {
  margin-top: 55px;
  font-size: 56px;
  line-height: 90%;
  position: relative;
  z-index: 30;
}

.costs .costs__body .costs__content .cost__line {
  width: 420px;
  height: 16px;
  background-color: #ac904e;
  border-radius: 25px;
  margin-top: 55px;
}

.costs .costs__body .costs__img {
  margin-top: -110px;
}

.examples {
  margin-bottom: 425px;
  position: relative;
  z-index: 35;
}

.examples .examples__container {
  max-width: 1550px;
  margin: 0 auto;
}

.examples .examples__body {
  display: flex;
  justify-content: space-between;
}

.examples .examples__body .examples__content .examples__text {
  margin-top: 55px;
  font-size: 71px;
  line-height: 90%;
}

.examples .examples__body .examples__content .examples__link {
  background: #c0aa6f;
  background: linear-gradient(to bottom, #fadd8f, #6e5622);
  border-radius: 15px;
  padding: 10px 59px;
  margin-top: 55px;
  width: 670px;
  font-size: 52px;
}

.examples .examples__body .examples__img {
  position: absolute;
  right: 174px;
  top: 0px;
}

.examples .examples__body .examples__img img {
  width: 520px;
}

.application {
  margin-bottom: 180px;
  position: relative;
  z-index: 10;
}

.application .application__container {
  max-width: 1550px;
  margin: 0 auto;
}

.application .application__body {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.application .application__body .application__content {
  position: relative;
  z-index: 20;
}

.application .application__body .application__content .application__link {
  background: #c0aa6f;
  background: linear-gradient(to bottom, #fadd8f, #6e5622);
  border-radius: 15px;
  padding: 10px 59px;
  margin-top: 55px;
  width: 370px;
  font-size: 52px;
}

.application .application__body .application__content .form {
  margin-top: 60px;
}

.application .application__body .application__content .form .form__item {
  margin: 0px 0px 50px 0px;
}

.application .application__body .application__content .form .form__item .form__input {
  height: 80px;
  width: 820px;
  border-radius: 50px;
  font-size: 64px;
  padding: 0px 30px;
  color: #9f9f9f;
}

.application .application__img {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -145px;
}

.application .application__img img {
  width: 900px;
}

.connection-title {
  position: relative;
  z-index: 35;
  margin-left: -3%;
  font-size: 250px;
  white-space: nowrap;
  overflow: hidden;
  background: linear-gradient(0deg, #1e1e1e 40%, #3b3b3b 60%, #3b3b3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #1e1e1e;
}

.contacts {
  position: relative;
  z-index: 35;
  margin-top: -120px;
  text-align: center;
}

.contacts .contacts__tel {
  font-size: 112px;
}

.contacts .contacts__email {
  text-transform: uppercase;
  font-size: 116px;
}

.contacts .contacts__address {
  font-size: 97px;
}

@media (max-width: 1782px) {
  h2 {
    font-size: 80px;
    margin-bottom: 25px;
  }

  .about .about__body .about__content .about__text {
    font-size: 40px;
    line-height: 100%;
  }

  .about .about__body .about__img {
    margin-top: 100px;
  }

  .about .about__body .about__img img {
    width: 600px;
  }

  .costs .costs__body .costs__content .costs__text {
    font-size: 40px;
    line-height: 100%;
  }

  .costs .costs__body .costs__img {
    margin-top: -70px;
  }

  .costs .costs__body .costs__img img {
    width: 600px;
  }
}

@media (max-width: 1613px) {
  .header .menu__list {
    grid-column-gap: 0px;
  }

  .header .menu__list .menu__link {
    padding: 12px 32px;
    font-size: 27px;
  }
}

@media (max-width: 1372px) {
  h2 {
    font-size: 60px;
    margin-bottom: 25px;
  }

  .about .about__body .about__content .about__text {
    font-size: 30px;
    line-height: 110%;
  }

  .about .about__body .about__img {
    margin-top: 70px;
  }

  .about .about__body .about__img img {
    width: 500px;
  }

  .costs .costs__body .costs__content .costs__text {
    font-size: 30px;
    line-height: 110%;
  }

  .costs .costs__body .costs__img img {
    width: 500px;
  }
}

@media (max-width: 1285px) {
  .header .menu .menu__list {
    display: flex;
    flex-wrap: wrap;
  }

  .header .menu .menu__list .menu__link {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1232px) {
  .main-block .main-block__container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .main-block .main-block__body .main-block__img img {
    height: 500px;
  }

  .main-block .main-block__body .main-block__content .main-block__ring-1 {
    top: 110px;
    right: 100px;
  }

  .main-block .main-block__body .main-block__content .main-block__ring-1 img {
    width: 70px;
  }

  .main-block .main-block__body .main-block__content .main-block__title {
    font-size: 70px;
  }

  .main-block .main-block__body .main-block__content .main-block__text {
    font-size: 37px;
  }

  .main-block .main-block__body {
    grid-column-gap: 100px;
  }
}

@media (max-width: 1110px) {
  h2 {
    text-align: center;
  }

  .about .about__body .about__content .about__text {
    text-align: center;
  }

  .about .about__body .about__img {
    margin-top: 20px;
    text-align: center;
  }

  .about .about__body .about__img img {
    width: 90%;
  }

  .about .about__body {
    flex-wrap: wrap;
  }

  .about .about__body .about__content {
    max-width: 100%;
  }

  .costs .costs__body .costs__content .costs__text {
    text-align: center;
  }

  .costs .costs__body .costs__content .cost__line {
    margin: 55px auto 0px auto;
  }

  .costs .costs__body .costs__img {
    margin: 50px auto 0px auto;
  }

  .costs .costs__body .costs__img img {
    width: 80%;
  }

  .costs .costs__body {
    flex-wrap: wrap;
  }

  .costs .costs__body .costs__content {
    margin: 0 auto;
  }
}

@media (max-width: 925px) {
  .main-block .main-block__container {
    max-width: 700px;
    margin: 0 auto;
  }

  .main-block .main-block__body .main-block__img img {
    height: 350px;
  }

  .main-block .main-block__body .main-block__content .main-block__title {
    font-size: 50px;
  }

  .main-block .main-block__body .main-block__content .main-block__text {
    margin-top: 20px;
    font-size: 27px;
  }

  .main-block .main-block__body {
    margin: 20px 0px 20px 0px;
    grid-column-gap: 70px;
  }
}

@media (max-width: 665px) {
  .main-block .main-block__body .main-block__img img {
    height: 400px;
  }

  .main-block .main-block__body .main-block__content .main-block__title {
    margin-top: 170px;
    font-size: 70px;
  }

  .main-block .main-block__body .main-block__content .main-block__text {
    margin-top: 20px;
    font-size: 40px;
  }

  .main-block .main-block__body {
    display: block;
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
}

@media (max-width: 489px) {
  h2 {
    font-size: 48px;
  }

  .main-block .main-block__body .main-block__content .main-block__title {
    font-size: 48px;
  }

  .main-block .main-block__body .main-block__content .main-block__text {
    margin-top: 15px;
    font-size: 30px;
  }
}

@media (max-width: 471px) {
  .header .menu .menu__list {
    display: block;
  }

  .header .menu .menu__list .menu__link {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
}